<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartminds.flutter_ar_plugin">

    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>
    <application
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".ArActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="locked">
        </activity>
    </application>
</manifest>
